<?xml version="1.0" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1x" stopProcessing="true">
                    <match url="^posts/?$"  />
                    <action type="Rewrite" url="//app/pages/posts.php"  />
                </rule>
                <rule name="rule 2x" stopProcessing="true">
                    <match url="^posts/(.+)/?$"  />
                    <action type="Rewrite" url="//app/pages/posts.php?title={R:1}"  />
                </rule>
                <rule name="rule 3x" stopProcessing="true">
                    <match url="^about/?$"  />
                    <action type="Rewrite" url="//app/pages/posts.php?title=about"  />
                </rule>
                <rule name="rule 4x" stopProcessing="true">
                    <match url="^showcase/?$"  />
                    <action type="Rewrite" url="//app/pages/posts.php?title=showcase"  />
                </rule>
                <rule name="rule 5x" stopProcessing="true">
                    <match url="^index/?$"  />
                    <action type="Rewrite" url="//app/pages/posts.php?title=index"  />
                </rule>
                <rule name="rule 6x" stopProcessing="true">
                    <match url="^(/)?$"  />
                    <action type="Rewrite" url="//app/pages/posts.php?title=index"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>